/* ===== Top Navbar ===== */
.topbar {
  height: 60px;
 background-color: #1a2e5a;

  backdrop-filter: blur(40px);
  border-bottom: 1px solid #e8ecf1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 28px 0 28px;
  position: fixed;
  top: 0;
  left: 240px;
  right: 0;
  z-index: 90;

}

/* Breadcrumb */
.topbar-left {
  display: flex;
  align-items: center;
}

.breadcrumb {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.breadcrumb-link {
  color: #dddddd;
  text-decoration: none;
  transition: color 0.2s;
}

.breadcrumb-link:hover {
  color: #d9d9da;
}

.breadcrumb-sep {
  color: #cbd5e1;
  font-size: 12px;
}

.breadcrumb-current {
  color: #b4b5b6;
  font-weight: 600;
}

/* Search */
.topbar-center {
  flex: 0 1 360px;
  margin-left: 300px;
}

.search-box {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #f1f5f9;
  border: 1px solid #e2e8f0;
  border-radius: 10px;
  padding: 8px 16px;
  transition: all 0.2s ease;
}

.search-box:focus-within {
  background: #ffffff;
  border-color: #93b4f5;
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.1);
}

.search-icon {
  width: 18px;
  height: 18px;
  color: #b5b5b5;
  flex-shrink: 0;
}

.search-inpu {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 14px;
  color: #1e293b;
  font-family: 'Inter', sans-serif;
}

.search-input::placeholder {
  color: #94a3b8;
}

/* Right Section */
.topbar-right {
  display: flex;
  align-items: center;
  gap: 8px;
}

.topbar-icon-btn {
  position: relative;
  width: 38px;
  height: 38px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #475569;
  transition: all 0.2s ease;
}

.search-inpu:hover{
  width: 400px;

 
}

.topbar-icon-btn svg {
  width: 20px;
  height: 20px;
}

.notification-dot {
  position: absolute;
  top: 8px;
  right: 9px;
  width: 8px;
  height: 8px;
  background: #dc2626;
  border-radius: 50%;
  border: 2px solid #ffffff;
}

/* User */
.topbar-user {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 12px;
  padding-left: 16px;
  border-left: 1px solid #e8ecf1;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-name {
  font-size: 13px;
  font-weight: 600;
  color: #aaadb1;
  line-height: 1.2;
}

.user-role {
  font-size: 10px;
  font-weight: 600;
  color: #64748b;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.user-avatar {
  width: 36px;
  height: 36px;
  border-radius: 10px;
  background: #1a2e5a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.user-avatar svg {
  width: 20px;
  height: 20px;
}